@charset "utf-8";

/*메인 비주얼*/
#lecturevisual{position:relative;background:#fff;}
#lecturevisual .swiper-slide{position:relative;overflow: hidden;}
#lecturevisual .swiper-slide > a{display: block; width: 100%;position:relative;}
#lecturevisual .swiper-pagination{width:auto;left:auto;right:25px;bottom:18px;font-family: 'Roboto';color:#999999;font-size:10px;letter-spacing: -0.1em;}
#lecturevisual .swiper-pagination .swiper-pagination-current{color:#fff;font-weight:700;}

.lecturetag{position:relative;padding:0 0 14px 76px;margin-top:-5px;}
.lecturetag .ti{position:absolute;left:0;top:10px;color:#0c818b;display:inline-block;border:1px solid #0c818b;height:16px;line-height:16px;font-size:11px;padding:0 7px 0 5px;border-radius:30px;}
.lecturetag a{display:inline-block;margin-right:10px;color:#333333;font-size:14px;position:relative;margin-top:7px;}
.lecturetag a:after{content:"";position:absolute;left:0;bottom:1px;width:100%;height:1px;background:#333;}

.lecturebox{margin-top:10px;}
.lecturebox > p{display:block;border:1px solid #bcbcbc;height:36px;line-height:36px;font-size:14px;color:#222;padding-left:10px;position:relative;background:#f3f3f3;}
.lecturebox > a{display:block;border:1px solid #bcbcbc;height:36px;line-height:36px;font-size:14px;color:#222;padding-left:10px;position:relative;background:#f3f3f3;}
.lecturebox > a .ctext{position:absolute;top: 0px;right: 43px;text-align: right;color: #0c818b;}
.lecturebox.on > a,
.lecturebox.on > p{background:#fff;}
.lecturebox > a:before{position:absolute;top:19px;right:22px;content:"";display:block;width:9px;height:1px;background:#383838;transform:rotate(45deg);-webkit-transform: rotate(45deg);-webkit-transition: all .5s ease ;transition: all .5s ease ;}
.lecturebox > a:after{position:absolute;top:19px;right:16px;content:"";display:block;width:9px;height:1px;background:#383838;transform:rotate(-45deg);-webkit-transform: rotate(-45deg);-webkit-transition: all .5s ease ;transition: all .5s ease ;}
.lecturebox > a.on:before{transform:rotate(-45deg);-webkit-transform: rotate(-45deg);}
.lecturebox > a.on:after{transform:rotate(45deg);-webkit-transform: rotate(45deg);}
.lecturebox > ul{display:none;border-left:1px solid #e3e3e3;border-right:1px solid#e3e3e3;}
.lecturebox > ul > li{float:left;width:33.3%;position:relative;}
.lecturebox.examno > ul > li{float:left;width:20%;position:relative;}
.lecturebox > ul > li > a,
.lecturebox > ul > li span{display:block;overflow: hidden;border-left:1px solid #e3e3e3;text-align:center;border-bottom:1px solid #e3e3e3;font-size:13px;font-weight:300;color:#222;height:36px;line-height:36px;}
.lecturebox > ul.onch{border:1px solid #bcbcbc;border-bottom:0;}
.lecturebox > ul.onch > li > a,
.lecturebox > ul.onch > li span{border-bottom: 1px solid #bcbcbc;border-left: 1px solid #bcbcbc;}
.lecturebox > ul > li > a.off{color:#b8b8b8;}
.lecturebox > ul > li div{display:none;width:300%;border:1px solid #e3e3e3;text-align:center;background:#e5f3f3;position:absolute;top:36px;z-index: 5;}
.lecturebox > ul > li div:after{content:"";display:inline-block;position:absolute;left:50%;top:-8px;margin-left:-3px;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #bcbcbc;}
.lecturebox > ul > li div:before{content:"";display:inline-block;position:absolute;left:50%;top:-7px;margin-left:-3px;z-index:1;width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 8px solid #e5f3f3;}
.lecturebox > ul > li div a{display:inline-block;height:32px;line-height:32px;font-size:12px;font-weight:300;color:#222;position:relative;margin:0 12px;}
.lecturebox > ul > li div a.on{color:#0c818b;font-weight:500;}
.lecturebox > ul > li div a:after{content:"";display:inline-block;position:absolute;left:-12px;top:50%;margin-top:-1px;display:inline-block;width:2px;height:2px;background:#888888;border-radius:100%;}
.lecturebox > ul > li div a:first-child:after{display:none;}
.lecturebox > ul > li.on > a{background:#e5f3f3;}
.lecturebox > ul > li.on div{display:block;}
.lecturebox > ul > li.un{padding-bottom:33px;}
.lecturebox > ul > li:nth-child(3n+1) a,
.lecturebox > ul > li:nth-child(3n+1) span{border-left:0;}
.lecturebox > ul > li:nth-child(3n+1) div{left:0;margin-left:-1px;}
.lecturebox > ul > li:nth-child(3n+1) div:after, .lecturebox > ul > li:nth-child(3n+1) div:before{left:17%;}
.lecturebox > ul > li:nth-child(3n) div{left:-200%;margin-left:-1px;}
.lecturebox > ul > li:nth-child(3n) div:after, .lecturebox > ul > li:nth-child(3n) div:before{left:83%;}
.lecturebox > ul > li:nth-child(3n-1) div{left:-100%;margin-left:-1px;}
.lecturebox .table{border-right:1px solid #e3e3e3;width:100%;}
.lecturebox .table td{border-left:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;text-align:center;font-weight:300;line-height:1.6;padding:8px 0;}
.lecturebox .table th{border-left:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;text-align:center;background:#f8f8f8;font-weight:400;line-height:1.2;padding:8px 0;}
.lecturebox .table td.btnbg{padding:0}
.lecturebox .table td.btnbg a{display:block;background:#f8f8f8;padding: 8px 0;}
.lecturebox .table .level{padding:10px 0;}
.lecturebox .table .level:before{content:"";display:block;font-size:13px;color:#222;text-align:center;margin-bottom:5px;font-weight:500;}
.lecturebox .table .level ol{display:inline-block;}
.lecturebox .table .level ol li{display:inline-block;background:#cdcccc;width:36px;height:28px;margin-left:1px;}
.lecturebox .table .level ol li:first-child{margin-left:0}
.lecturebox .table .level p{color:#888888;font-size:11px;font-weight:300;}
.lecturebox .table .level.easiness:before{content:"매우 쉬움";}
.lecturebox .table .level.ease:before{content:"쉬움";}
.lecturebox .table .level.normal:before{content:"보통";}
.lecturebox .table .level.difficulty:before{content:"어려움";}
.lecturebox .table .level.diffcul:before{content:"매우 어려움";}
.lecturebox .table .level.easiness ol li:nth-child(1){background:#5773cc;}
.lecturebox .table .level.ease ol li:nth-child(1), .lecturebox .table .level.ease ol li:nth-child(2){background:#6bb7f1;}
.lecturebox .table .level.normal ol li:nth-child(1), .lecturebox .table .level.normal ol li:nth-child(2), .lecturebox .table .level.normal ol li:nth-child(3){background:#e0cebc;}
.lecturebox .table .level.difficulty ol li:nth-child(1), .lecturebox .table .level.difficulty ol li:nth-child(2), .lecturebox .table .level.difficulty ol li:nth-child(3), .lecturebox .table .level.difficulty ol li:nth-child(4){background:#f28c14;}
.lecturebox .table .level.diffcul ol li{background:#f7654c;}

.lecturebox.examno > ul > li:nth-child(3n+1) a,
.lecturebox.examno > ul > li:nth-child(3n+1) span{border-left:1px solid #e3e3e3;}
.lecturebox.examno > ul > li:nth-child(5n+1) a,
.lecturebox.examno > ul > li:nth-child(5n+1) span{border-left:0;}
.lecturebox .explan{margin:0;border-top:0;}
.examnbox{text-align:center;color:#666;font-size:12px;padding:20px 0;background:#f6f6f6;border:1px solid #e7e7e7;border-top:0;}
.examnbox span{display:inline-block;width:20px;height:15px;border:2px solid #666;margin-bottom:5px;border-radius:4px;}
.examnbox span:after{content:"";display:inline-block;position:relative;top:-2px;left: 1px;width: 0;height: 0;border-top: 4px solid transparent;border-left: 6px solid #666;border-bottom: 4px solid transparent;}

.back_choice{padding:13px 15px 5px 45px;position:relative;}
.back_choice div a{display:inline-block;border:1px solid #c7c7c7;background:#fff;color:#222;font-weight:300;font-size:14px;margin-bottom:8px;padding:5px 10px;line-height:1.2;}
.back_choice.bg{background:#fff;padding:13px 15px 5px 15px;}
.back_choice.bg h2{text-align:center;margin-bottom:8px;font-weight:700;font-size:16px;}
.back_choice .backbtn{position:absolute;left:15px;top:17px;}

.lecture_vt{padding:20px 13px 0;border-bottom: 1px solid #e7e7e7;}
.lecture_vt .lecture_vtx{position:relative;min-height:138px;padding-left:140px;margin-top:10px;}
.lecture_vt .lecture_vtx img{position:absolute;left:0;bottom:0;}
.lecture_vt .lecture_vtx ul li{position:relative;padding-left:8px;color:#888888;font-weight:300;}
.lecture_vt .lecture_vtx ul li:after{content:"";position:absolute;left:0;top:8px;display:inline-block;width:3px;height:1px;background:#888888;}
.lecture_vt .lecture_vtx .onbtn{float:left;}
.lecture_vt .lecture_vtx .onbtn a{margin-right:5px;border:1px solid #4c4c4c;}
.lecture_vt .lecture_vtx .bellbtn{float:right;border:0;}
.lecture_vt .lecture_vtx .bellbtn a{display:inline-block;width:35px;text-align:center;padding:2px 0;border:1px solid #4c4c4c;}
.lecture_vt .lecture_vtx .bellbtn a:before{content:"";display:inline-block;width:12px;height:11px;background: url('file:///android_asset/images/teacher/bell_icon.svg') no-repeat left center;background-size: 12px auto;}
.lecture_vt .lecture_vtx .bellbtn a span{display:block;color:#333333;font-size:10px;margin-top:2px;}
.lecture_vt .lecture_vtx .bellbtn a:nth-of-type(2){border-left:0;margin-left: -2px;}

.lecture_list{border-bottom: 0;}
.lecture_list > li{border-top: 1px solid #bcbcbc;background:#fff;}
.lecture_list > li > div{padding:15px 13px;position:relative;}
.lecture_list > li > div a{display: inline-block;position: absolute;top: 13px;right: 13px;border: 1px solid #bcbcbc;height: 26px;line-height: 27px;padding: 0 10px;position: absolute;color: #666666;font-weight: 300;}
.lecture_list > li > ul{}
.lecture_list > li > ul li{position:relative;padding:10px 13px 10px 23px;border-top:1px solid #e7e7e7;}
.lecture_list > li > ul li:before{content:"";display:inline-block;position:absolute;left:13px;top:18px;width:4px;opacity:0.5;height:4px;background: url('file:///android_asset/images/teacher/reicon.svg') center center no-repeat;background-size:4px auto;vertical-align:middle;}

.lecture_cont{background:#fff;overflow:hidden}
.lecture_cont > div{padding-bottom:25px;display:none} 
.bellbtn{display:inline-block;position:relative;top:-1px;font-size: 10px;line-height:1;background:#f1f1f1;border:1px solid #666666;color:#333333;}
.book_cont .bellbtn{padding:3px 5px 1px;}

.lecture_table{width:100%;}
.lecture_table thead th{border-bottom:1px solid #bcbcbc;font-weight:300;color:#444444;font-size:14px;padding:10px 0;}
.lecture_table thead th:first-child{border-right:1px solid #bcbcbc;}
.lecture_table tbody td{border-bottom:1px solid #e7e7e7;font-weight:300;color:#444444;font-size:14px;padding:10px 13px;text-align:center;}
.lecture_table tbody td:first-child{border-right:1px solid #e7e7e7;}
.lecture_table tbody td div{text-align:left;}

.info_lect {padding:10px 13px 0;background-color:#fff;font-size:14px;}
.info_lect .info {margin-top:18px}
.info_lect .info dt {font-weight:500;color:#444444;}
.info_lect .info dd {margin-top:3px;color:#444444;font-weight:300;}
.book_cont{border-top:1px solid #e7e7e7;padding:20px 13px;}
.book_cont .info_lect{padding:0;}
.book_cont:first-child{border-top:0;}
.book_cont .oldmoney{font-size:14px;}
.book_cont .ingmoney{font-size:14px;}
.bookti{text-align:center;padding:0 13px;}
.bookti h2{color:#444;font-size:16px;font-weight:500;margin:5px 0 3px;}

.info_not{background:#c8b897;padding:15px 0;text-align:center;}
.info_not h2{color:#674c11;font-weight:700;font-size:15px;text-decoration: underline;}
.info_not div{color:#fff;font-size:12px;font-weight:300;line-height:1.4;margin-top:10px;}
.info_not div strong{font-weight:400;}

.package_box h2{border-bottom:1px solid #e7e7e7;font-weight:700;font-size:13px;padding:12px 13px;}
.package_box .reviewti{padding:0;}
.package_box .reviewti li{border-top:1px solid #e7e7e7;padding: 15px 13px 15px 13px;}
.package_box .reviewti li:first-child{border-top:0;}
.package_box .textlist .list_ti{margin-top:0;}
.package_box .list_ti{font-size:12px;}
.package_box .textlist .link{margin-bottom: 4px;}
.package_box .textlist dt{font-size:11px;}
.package_box .textlist dd{font-size:11px;color:#888888;font-weight:300;}
.package_box .textlist .tis{font-size:11px;color:#888888;margin-top:5px;}

.examti{padding:10px 13px;font-size:15px;font-weight:300;background:#fff;margin-top:10px;border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;}
.examqbox{border:1px solid #e3e3e3;margin-top:10px;}
.examqbox .exti{padding:10px 10px;border-bottom:1px solid #e3e3e3;font-weight:300;position:relative;font-size:14px;}
.examqbox .exti strong{color:#0c818b;font-weight:400;}
.examqbox .exti span{color:#222;font-weight:500;}
.examqbox .exti img{vertical-align:middle;position:relative;top:-1px;margin-right:5px;}
.examqbox .exti a{display:inline-block;position:absolute;top:5px;right:5px;border:1px solid #bcbcbc;height:26px;line-height:27px;padding:0 7px;position:absolute;color:#666666;font-weight:300;}
.examqbox .exti a span{position:relative;display:inline-block;width: 9px;height: 10px;}
.examqbox .exti a span:after{content:"";display:block;width:1px;height:6px;background:#666666;position:absolute;right:0px;top:0px;-moz-transform: rotate(-47deg);-webkit-transform: rotate(-47deg);-o-transform: rotate(-47deg);transform: rotate(-47deg);}
.examqbox .exti a span:before{content:"";display:block;width:1px;height:6px;background:#666666;position:absolute;right:0px;top:4px;-moz-transform: rotate(47deg);-webkit-transform: rotate(47deg);-o-transform: rotate(47deg);transform: rotate(47deg);}
.examqbox .box{height: 280px;text-align: center;overflow-y: scroll;overflow-x:hidden;padding:10px 0;}
.examqbox .box img{max-width: 300px;}
.examqbox .cont_cont{width:100%;height: 280px;overflow-x:hidden;}
.examqbox .button{border-top:1px solid #e3e3e3;margin-top:0}
.examqbox .button a{display:block;text-align:center;font-size:14px;font-weight:300;padding:10px 0 8px;color:#222;}
.examqbox .button a span{display:inline-block;width:20px;height:13px;position:relative;}
.examqbox .button a span:after{content:"";position:absolute;top:7px;right:3px;width:10px;height:1px;background:#424242;}
.examqbox .button a span:before{content:"";position:absolute;top:7px;right:3px;width:10px;height:1px;background:#424242;-webkit-transform: rotate(270deg);transform: rotate(270deg);-webkit-transition: all 0.2s ease-out ;transition: all 0.2s ease-out ;}
.examqbox .button .tcell:nth-of-type(2) a{border-left:1px solid #e3e3e3;}

.explan{margin-top:10px;border:1px solid #e3e3e3;background:#f3f3f3;padding:10px 10px;}
.explan h3{font-size:14px;color:#222222;padding-bottom:5px;}
.explan h3 span{color:#999999;font-size:12px;margin-left:5px;}
.explan > p{border:1px solid #dddddd;background:#fff;text-align:center;font-size:13px;font-weight:300;padding:8px 0;margin-top:5px;}
.explan > .linkbox{display:block;border:1px solid #dddddd;background:#fff;text-align:center;font-size:13px;font-weight:300;text-decoration: underline;padding:8px 0;margin-top:5px;}
.explanlist > li{float:left;width:33.3%;}
.explanlist > li > div{border:1px solid #dddddd;background:#fff;text-align:center;margin-left:5px;margin-top:5px;padding:10px 0 15px;}
.explanlist > li > div p{text-align:center;font-size:12px;font-weight:300;margin-bottom:8px;}
.explanlist > li > div p span{display:block;color:#888888;font-size:12px;margin-top: -2px;}
.explanlist > li > div a{display:inline-block;border:1px solid #979797;width:28px;height:28px;text-align:center;border-radius:100%;}
.explanlist > li > div a:nth-of-type(2){margin-left:3px;}
.explanlist > li > div a span{margin-top: 8px;}
.explanlist > li > div a span.playicong1{left:1px;}
.explanlist > li:nth-child(3n+1)  > div{margin-left:0}
.explan .tcell{position:relative;}
.explan .input_text{background:#fff;}
.explan .tcell input[type="radio"],
.explan .tcell input[type="checkbox"]{position:absolute;left:-5000px;top:0;}
.explan .tcell label{display:block;text-align:center;border:1px solid #dddddd;border-left:0;background:#fff;height:40px;line-height:40px;font-size:12px;font-weight:300;}
.explan .tcell input[type="radio"]:checked +  label,
.explan .tcell input[type="checkbox"]:checked +  label{background:#e5f3f3;}
.explan .tcell:nth-of-type(1) label{border-left:1px solid #dddddd;}
.explan table{width:100%;border:1px solid #cbcbcb;border-left:0;border-bottom:0;}
.explan table thead th{border-left:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;background:#ebebeb;height:30px;font-weight:300;}
.explan table tbody th{border-left:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;background:#ebebeb;height:30px;font-weight:300;}
.explan table tbody td{border-left:1px solid #cbcbcb;border-bottom:1px solid #cbcbcb;text-align:center;font-weight:300;}
.explan table tbody td span{display:inline-block;background:#222;width:14px;height:14px;border-radius:100%;}
.explan table .answer{color:#ac7c52;font-weight:500;}
.explan table .answer strong{color:#222;font-weight:300;}

.eventtab{background:#fff;    border-bottom: 1px solid #bcbcbc;}
.eventtab > div{width:80%;margin:0 auto;}
#eventtab .swiper-slide a.on {font-weight: 700;}
#eventtab .swiper-slide a {display: inline-block;font-size: 14px;width:auto;color: #222222;position: relative;padding: 12px 5px 10px;letter-spacing: -0.05em;text-decoration: none;}
#eventtab .swiper-slide a.on:before{content:"";position:absolute;left: 0;bottom:-1px;display:block;width:100%;height:3px;background:#222222;z-index: 10;}
#eventtab .more{display:inline-block;position:absolute;top:0;right:0;z-index:2;width:23px;height:100%;border-left:1px solid #e4e4e4;background: #fff;}
#eventtab .more span{display:block;width:100%;height:100%;position:relative;text-indent:-5000px;}
#eventtab .more span:after{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-2px;-moz-transform: rotate(47deg);-webkit-transform: rotate(47deg);-o-transform: rotate(47deg);transform: rotate(47deg);-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
#eventtab .more span:before{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-8px;-moz-transform: rotate(-47deg);-webkit-transform: rotate(-47deg);-o-transform: rotate(-47deg);transform: rotate(-47deg);-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
#eventtab .more.open span:after{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-2px;-moz-transform: rotate(-47deg);-webkit-transform: rotate(-47deg);-o-transform: rotate(-47deg);transform: rotate(-47deg);}
#eventtab .more.open span:before{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-8px;-moz-transform: rotate(47deg);-webkit-transform: rotate(47deg);-o-transform: rotate(47deg);transform: rotate(47deg);}

#examtab .swiper-slide a.on {font-weight: 700;}
#examtab .swiper-slide a {display: inline-block;font-size: 14px;width:auto;color: #222222;position: relative;padding: 12px 5px 10px;letter-spacing: -0.05em;text-decoration: none;}
#examtab .swiper-slide a.on:before{content:"";position:absolute;left: 0;bottom:-1px;display:block;width:100%;height:3px;background:#222222;z-index: 10;}
#examtab .mores{display:inline-block;position:absolute;top:0;right:0;z-index:2;width:23px;height:100%;border-left:1px solid #e4e4e4;background: #fff;}
#examtab .mores span{display:block;width:100%;height:100%;position:relative;text-indent:-5000px;}
#examtab .mores span:after{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-2px;-moz-transform: rotate(47deg);-webkit-transform: rotate(47deg);-o-transform: rotate(47deg);transform: rotate(47deg);-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
#examtab .mores span:before{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-8px;-moz-transform: rotate(-47deg);-webkit-transform: rotate(-47deg);-o-transform: rotate(-47deg);transform: rotate(-47deg);-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
#examtab .mores.open span:after{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-2px;-moz-transform: rotate(-47deg);-webkit-transform: rotate(-47deg);-o-transform: rotate(-47deg);transform: rotate(-47deg);}
#examtab .mores.open span:before{content:"";display:block;width:1px;height:10px;background:#999999;position:absolute;left:50%;top:50%;margin-top:-8px;-moz-transform: rotate(47deg);-webkit-transform: rotate(47deg);-o-transform: rotate(47deg);transform: rotate(47deg);}


.event_page{background:#fff;}
.event_page .box{padding:15px 13px 0;border-bottom:1px solid #e7e7e7;}
.event_page h3{color: #222222;font-weight: 700;font-size: 14px;margin-bottom:10px;padding-left:5px;}
.event_page .tevnter_list div{color:#222222;padding:8px 0 15px 5px;font-size: 13px;}
.event_page .tevnter_list div .new{font-size:12px;}
.event_page .event_list li{padding:15px 0;border-bottom:1px solid #e7e7e7;min-height:76px;}
.event_page .event_list li a{display:block;padding:0 13px 0 183px;position:relative;}
.event_page .event_list li a img{position:absolute;left:13px;top:0;}
.event_page .event_list li a span{margin-top:-3px;}
.event_page .event_list li a div{font-weight:400;;margin-top:3px;line-height: 1.2em;max-height: 3.6em;}
.event_page .noevent{text-align:center;padding:35px 0;}
.event_page .noevent .evimg{display:inline-block;width:54px;height:54px;border:1px solid #222222;text-align:center;border-radius: 100%;overflow:hidden;}
.event_page .noevent .evimg span{margin-top:17px;}
.event_page .noevent div{color:#222;font-size:14px;line-height:1.4;margin-top:10px;}
.win_page{background:#fff;}
.win_list li a{display:block;border-bottom:1px solid #e7e7e7;position:relative;padding:15px 13px 15px 92px;min-height:56px;}
.win_list li a .img{display:inline-block;width:56px;height:56px;position:absolute;left:18px;top:50%;margin-top:-28px;border-radius: 100%;overflow:hidden;}
.win_list li a .img img{border-radius: 100%;}
.win_list li a .evimg{display:inline-block;width:54px;height:54px;border:1px solid #bbbbbb;position:absolute;left:18px;top:50%;margin-top:-27px;text-align:center;border-radius: 100%;overflow:hidden;}
.win_list li a .evimg span{margin-top:17px;}
.win_list li a div{font-weight:400;}
.win_list li a .list_data{margin-top:5px;}

/*프리패스 2017(onepass) */
.freepassWrap .mylect_wrap {background-color:#fff;padding:20px 20px}
.freepassWrap .mylect_wrap .mylect_list .pass_tit {display:block;margin-top:10px;color:#0066f0;font-size:13px}
.freepassWrap .mylect_wrap .mylect_list li {position:relative;border:1px solid #bebebe;padding:0px 15px;margin-bottom:10px}
.freepassWrap .mylect_wrap .mylect_list .checkbox label .box {vertical-align:top;margin-top:4px}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit {display:table;width:100%;height:52px}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .tit_tch {display:table-cell;width:55%;padding-left:0;vertical-align:middle;font-size:17px}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .tit_price {display:table-cell;width:45%;padding-right:30px;vertical-align:middle;color:#848684;font-size:10px;text-align:right}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .ico_open {position:absolute;top:-1px;right:-1px;display:block;width:40px;height:40px;border:1px solid #bebebe;font-size:16px;line-height:40px;color:#333;text-align:center}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price {text-align:right}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .price {color:#333;font:bold 15px 'Tahoma';}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .price_del {position:relative;display:inline-block;margin-right:3px;color:#777;font:normal 12px 'Tahoma';text-decoration:line-through}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .price_del .arr {position:absolute;right:3px;top:50%;margin-top:-1px;width:5px;height:5px;display:block;}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .price_del .a_t {position:absolute;top:0;width:5px;border:1px solid #848684;transform: rotate(45deg)}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .price_del .a_b {position:absolute;bottom:0;width:5px;border:1px solid #848684;transform: rotate(-45deg)}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .gn {display:inline-block;width:30px;text-align:left;color:#111;font-size:12px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit .wr_price .desc1 {color:#f02d01;font-size:11px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 {}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont1 {display:table;width:100%;height:52px}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont1 .tit_tch {display:table-cell;width:55%;padding-left:0;vertical-align:middle;font-size:17px}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont1 .ico_open {position:absolute;top:-1px;right:-1px;display:block;width:40px;height:40px;border:1px solid #bebebe;font-size:16px;line-height:40px;color:#333;text-align:center}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 {position:relative;padding:15px 15px 5px 15px;margin:0 -15px;border-top:1px solid #e9e9e9}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .wr_cont {display:table;margin-bottom:10px;width:100%}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .wr_cont .cont_gn {display:table-cell;width:10%;height:25px;border:2px solid #000;text-align:center;color:#111;font-size:13px;line-height:14px;vertical-align:middle}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .wr_cont .cont_list {display:table;width:100%;}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .wr_cont .cont_list li {display:table-cell;width:33.3%;border:0 none;padding:0px 0px 0 10px;margin-bottom:0px;color:#848684;font-size:13px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .wr_cont .cont_list em {color:#3c66be}
.freepassWrap .mylect_wrap .mylect_list .mylect_tit2 .tit_cont2 .price {color:#333;font:bold 15px 'Tahoma';}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont {position:relative;display:none;padding:15px 0 0 0;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .price {color:#333;font:bold 15px 'Tahoma';}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .price_del {position:relative;display:inline-block;margin-right:3px;color:#777;font:normal 12px 'Tahoma';text-decoration:line-through}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .price_del .arr {position:absolute;right:3px;top:50%;margin-top:-1px;width:5px;height:5px;display:block;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .price_del .a_t {position:absolute;top:0;width:5px;border:1px solid #848684;transform: rotate(45deg)}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .price_del .a_b {position:absolute;bottom:0;width:5px;border:1px solid #848684;transform: rotate(-45deg)}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .gn {display:inline-block;width:30px;text-align:left;color:#111;font-size:12px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .gn2 {display:inline-block;text-align:left;color:#111;font-size:12px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .desc1 {font-size:13px;color:#666}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .desc2 {padding-left:20px;font-size:13px;color:#666;line-height:15px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .desc3 {font-size:12px;color:#666;line-height:15px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .f_p {color:#f02d01}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .f_p2 {color:#0066f0}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont1 {display:table;width:100%}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont1 .cont_poto {display:table-cell;width:70px;height:70px;background-color:#f4f4f4;overflow:hidden;text-align:center;vertical-align:top}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont1 .cont_poto span {display:block;width:70px;height:70px;overflow:hidden;text-align:center}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont1 .cont_poto img {width:100%}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont1 .cont_tch {display:table-cell;padding-left:15px;font-size:17px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 {padding-bottom:15px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2.cont2_st1 {background-color:#f7f7f7;margin:0 -15px;padding:5px 15px 20px 15px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list1 {margin-top:13px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list1 li {border:0 none;padding:0px 0px;margin-bottom:0px;color:#848684;font-size:12px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list2 {margin-top:13px;display:table;width:100%}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list2 li {display:table-cell;width:50%;border:0 none;padding:0px 0px;margin-bottom:0px;color:#848684;font-size:12px;vertical-align:top}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list2.list2_3 li {width:33.3%}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list2 .price {padding-left:0px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list2 .desc2 {padding-left:50px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 {margin-top:0px;display:table;width:100%}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 li {display:table-cell;width:33.3%;border:0 none;padding:0px 0px;margin-bottom:0px;color:#848684;font-size:12px;vertical-align:top;letter-spacing:-0.1em}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 li .checkbox {}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 li .checkbox label > span {margin-right:0;;letter-spacing:-0.1em}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 em {color:#3c66be}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 .price {display:inline-block;margin-left:-20px;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 .price_del {margin-left:-20px}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 .desc1 {}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .price_list3 .desc2 {padding-left:0}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .desc_q {margin-top:12px;margin-bottom:-8px;padding-left:13px;background:url("http://img.etoos.com/lecture/promotion/2017/11/freepass/g1/m_ico_q.png") 0 2px no-repeat;background-size:11px auto;color:#666;font-size:11px;letter-spacing:-0.05em}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont2 .desc2 {padding-left:0;margin-top:12px;margin-bottom:-8px;color:#666;font-size:11px;letter-spacing:-0.05em}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont3 {margin:0 -15px;padding-bottom:5px;background-color:#f4f4f4}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont3 .sbj_list {display:table;width:100%;padding:8px 0} 
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont3 .sbj_list li {display:table-cell;width:25%;border:0 none;padding:0px 0px;padding-left:10px;margin-bottom:0px;color:#848684;font-size:11px;letter-spacing:-0.1em} 
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont3 .sbj_list li .checkbox label > span {margin-right:0;;letter-spacing:-0.1em}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont4 {margin:0 -15px 0 -15px;padding-bottom:5px;background-color:#f4f4f4;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont4 .wr_benefit {display:table;width:100%;}
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont4 .benefit_tit {display:table-cell;padding:10px 0;width:30px;color:#08958f;font-size:14px;vertical-align:top;text-align:center} 
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .wr_cont4 .benefit_cont {display:table-cell;width:70%;border-left:1px solid #e5e5e5;padding:10px 10px;color:#111;font-size:12px;;vertical-align:top} 
.freepassWrap .mylect_wrap .mylect_list .mylect_cont .ico_close {position:absolute;top:-1px;right:-16px;display:block;width:40px;height:40px;border:1px solid #bebebe;font-size:16px;line-height:40px;color:#333;text-align:center}
.freepassWrap .mylect_wrap .mylect_list .on .mylect_tit {display:none}
.freepassWrap .mylect_wrap .mylect_list .on .mylect_cont {display:block}
.freepassWrap .mylect_wrap .mylect_btn1 {display:inline-block;border:1px solid #111;height:19px;line-height:19px;text-align:center;font-size:10px;color:#111}
.freepassWrap .mylect_wrap .ico_new_l {display:inline-block;border-radius:100%;border:1px solid #1aa5b1;height:15px;width:15px;margin-top:-3px;line-height:15px;text-align:center;font-size:10px;color:#1aa5b1;vertical-align:middle}
.freepassWrap .mylect_wrap .bb_txt {position:absolute;top:-8px;left:15px;display:inline-block;border-radius:3px;padding:0 10px;background-color:#c69771;height:19px;;line-height:19px;text-align:center;font-size:10px;color:#fff;vertical-align:middle}
.freepassWrap .mylect_wrap .bb_txt .edge {position:absolute;bottom:-5px;left:0;display:inline-block;width:0;height:0;border-right:7px solid transparent;;border-top:7px solid #c69771;}
.freepassWrap .mylect_wrap .bb_txt2 {position:absolute;top:-8px;left:15px;display:inline-block;border-radius:3px;padding:0 10px;background-color:#5578c5;height:19px;;line-height:19px;text-align:center;font-size:10px;color:#fff;vertical-align:middle}
.freepassWrap .mylect_wrap .bb_txt2 .edge {position:absolute;bottom:-5px;left:0;display:inline-block;width:0;height:0;border-right:7px solid transparent;;border-top:7px solid #5578c5;}
.freepassWrap .mylect_wrap .mylect_cont .bb_txt {left:85px}
.freepassWrap .mylect_wrap .mylect_cont .bb_txt2 {left:85px}
.freepassWrap .mylect_wrap .list_stit {display:block;margin-top:13px;color:#111;font-size:12px}

/* 2017-09-08 */
#lecture2 .book_cont .btn_preview{display:block;width:110px;padding:5px 0;margin:15px auto 5px;border:1px solid #bcbcbc;font-size:13px;color:#666;box-sizing:border-box;}
#lecture2 .book_cont .txt_preview{font-size:11px;color:#bbb;text-align:center;}

/* 2017-10-16 */
.subcontent_past {padding:20px 15px 20px;background:#fff}
.subcontent_past .box_tbl {border:1px solid #bcbcbc;}
.subcontent_past .box_tbl .tfcell{width:2%;border-left:1px solid #bcbcbc;text-align:center;padding:7px 0;font-size:14px;color:#222;line-height:1.3}
.subcontent_past .box_tbl .tfcell:first-child {border-left:0 none}
.subcontent_past .box_tbl2 {border:1px solid #bcbcbc;}
.subcontent_past .box_tbl2 .tfcell{width:2%;border-left:1px solid #bcbcbc;text-align:left;height:36px;font-weight:300;font-size:12px;color:#222;line-height:36px;text-indent:15px}
.subcontent_past .box_tbl2 .tfcell:first-child {border-left:0 none}
.subcontent_past .box_tbl2 .tfcell .link_down {float:right;margin:7px 15px 0 0;border:1px solid #979797;width:22px;height:22px;text-align:center;border-radius:100%;text-indent:0}
.subcontent_past .box_tbl2 .tfcell .link_down .download_icon {vertical-align:top;margin-top:5px}
.subcontent_past .info_boon .tit {display:block;text-align:center;font-size:16px;color:#222;}
.subcontent_past .info_boon .tfixed {margin-top:10px}
.subcontent_past .info_boon .tfcell{width:2%;border-left:1px solid #ddd;text-align:center;font-weight:300;font-size:11px;color:#666;line-height:1.3}
.subcontent_past .info_boon .tfcell:first-child {border-left:0 none}
.subcontent_past .info_boon .tfcell .ico {display:block;margin:0 auto 5px;width:45px}
.subcontent_past .tbl_info_exam {width:100%;color:#222;font-weight:300}
.subcontent_past .tbl_info_exam th {padding:13px 0;border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;font-size:13px}
.subcontent_past .tbl_info_exam td {padding:13px 5px;color:#222;font-size:13px;text-align:center}
.subcontent_past .tbl_info_exam .txt_tit {text-align:left}
.subcontent_past .tbl_info_exam strike {color:#999}
.subcontent_past .tbl_info_exam .txt_add {padding:0px 0;font-size:11px;text-align:left}
.subcontent_past .tbl_info_exam .txt_add .txt_ico_add {color:#bcbcbc}
.subcontent_past .couponlist {padding:0;border:0 none}
.subcontent_past .couponlist .info_coupon {display:inline-block;text-align:left;font-size:11px;color:#888;font-weight:300}
.subcontent_past .couponlist .info_coupon .txt_tit {display:inline-block;width:45px;text-align:center;margin-left:-15px}
.subcontent_past .wr_svc {margin-top:-20px}
.subcontent_past .wr_svc .svc {display:block;padding:10px 0;border-bottom:1px solid #ddd;text-align:center}
.subcontent_past .wr_svc .ico {width:45px;margin:5px 10px 0 0}
.subcontent_past .wr_svc .txt {display:inline-block;text-align:left;width:145px}

.examchoice{border-top:1px solid #bcbcbc;}
.examchoice .tfcell{position:relative;}
.examchoice .tfcell input[type="radio"],
.examchoice .tfcell input[type="checkbox"]{position:absolute;left:-5000px;top:0}
.examchoice ul li label,
.examchoice ul li > span,
.examchoice ul li > a{display:block;text-align:center;border:1px solid #bcbcbc;background:#fff;border-top:0;border-left:0;height:34px;line-height:34px;color:#222;font-size:12px;cursor: pointer;}
.examchoice ul li:first-child a,
.examchoice ul li:first-child label{border-left:1px solid #bcbcbc;}
.examchoice ul li > a.on,
.examchoice ul li input[type="radio"]:checked + label,
.examchoice ul li input[type="checkbox"]:checked + label{background-color:#e5f3f3;}
.exresult{text-align:center;border:1px solid #bcbcbc;color:#0c818b;font-weight:500;height:35px;line-height:35px;font-size:14px;margin-top:10px;}
.exresult span{color:#222;}

.examscore{border-top:1px solid #bcbcbc;}
.examscore ul li > span,
.examscore ul li > a{display:block;text-align:center;border:1px solid #bcbcbc;background:#fff;border-top:0;border-left:0;color:#222;font-size:12px;cursor: pointer;line-height:1.3;padding:10px 0;}
.examscore ul li > span strong,
.examscore ul li > a strong{font-size:14px;}
.examscore ul li:first-child a,
.examscore ul li:first-child span{border-left:1px solid #bcbcbc;}
.examscore ul li > a.on,
.examscore ul li > span.on{background-color:#e5f3f3;}
.examscore ul li > a.on strong,
.examscore ul li > span.on strong{color:#0c818b;}

.exnores{border-top:1px solid #e3e3e3;}
.exnores.num{background:#f8f8f8;}
.exnores .tfcell{border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.exnores .tfcell.title{width:56px;border-left:1px solid #e3e3e3;font-size:13px;text-align:center;}
.exnores .exno{text-align:center;}
.exnores .exno span{display:inline-block;font-size:14px;height:36px;line-height:36px;margin:0 5px;font-weight:300;}
.exnores .exno span.answer{color:#0c818b;font-weight:400;}
.exnores .exno span.wrong{color:#c83f1f;font-weight:400;}

.extext{border-top:1px solid #e3e3e3;}
.extext .title{width:70px;border:1px solid #e3e3e3;border-top:0;font-size:13px;text-align:center;}
.extext .input_text{border: 1px solid #e3e3e3;border-top:0;}
.extext .noline {border-left: 0;}

.extitleti{background:#f1f1f1;padding:15px 0 20px;}
.extitleti p{text-align:center;color:#222222;font-size:16px;font-weight:700;}
.extitleti p strong{color:#0c818b;}
.extitleti ul{padding:0 20px;}
.extitleti ul li{margin-top:0}

.boxpl{position:relative;}
.boxpl .extable{width:100%;border-top:1px solid #e3e3e3;border-left:1px solid #e3e3e3;}
.boxpl .extable thead th{background:#f8f8f8;font-size:12px;color:#222222;height:35px;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-weight:400;}
.boxpl .extable tbody th{background:#fff;font-size:12px;color:#222222;height:35px;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-weight:300;}
.boxpl .extable tbody td{background:#fff;font-size:12px;color:#222222;height:35px;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;font-weight:300;text-align:center;}
.boxpl .extable input[type="text"]{border:1px solid #bcbcbc;width:90%;font-size: 12px;height: 24px;line-height: 24px;}
.boxpl .extable ::-webkit-input-placeholder {font-size:12px;}
.boxpl .extable .norm{background:#f3ede3 !important;}
.boxpl .extable .bg1{background:#efefef !important;}
.boxpl .extable .bg2{background:#f3ede3 !important;}
.boxpl .extable .bg3{background:#e4ecf8 !important;}
.boxpl .exgraph{border:1px solid #dddddd;padding:20px 0px 0;text-align:center;overflow:hidden;line-height:1.6}
.boxpl .wr_btns .com_btn{border: 1px solid #bcbcbc;border-radius:0;margin-top:0}
.boxpl .wr_btns .btncolor_1{border: 1px solid #0c818b;}

.boxpatx{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);}
.boxpatx > div{position:relative;height:100%;}
.boxpatx > div span{position:absolute;left:0;top:50%;display:block;width:100%;text-align:center;color:#fff;font-size:15px;margin-top:-22px;}
.exselect.formoj .tcell select{height: 34px;line-height: 34px;border: 1px solid #bcbcbc;}
h3.searchti{border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;padding:13px 0 13px 13px;font-weight:400;}
h3.searchtis .binbox{display:inline-block;border:1px solid #31859c;width:28px;height:14px;line-height:14px;color:#31859c;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level1{display:inline-block;background:#5773cc;width:28px;height:14px;line-height:14px;color:#fff;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level1:after{content:"안정";color:#fff;font-size:10px;font-weight:300;}
h3.searchtis .level2{display:inline-block;background:#6bb7f1;width:28px;height:14px;line-height:14px;color:#fff;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level2:after{content:"적정";color:#fff;font-size:10px;font-weight:300;}
h3.searchtis .level3{display:inline-block;background:#e0cebc;width:28px;height:14px;line-height:14px;color:#fff;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level3:after{content:"소신";color:#fff;font-size:10px;font-weight:300;}
h3.searchtis .level4{display:inline-block;background:#f28c14;width:28px;height:14px;line-height:14px;color:#fff;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level4:after{content:"상향";color:#fff;font-size:10px;font-weight:300;}
h3.searchtis .level5{display:inline-block;background:#f7654c;width:28px;height:14px;line-height:14px;color:#fff;font-size:11px;text-align:center;position:relative;top:-1px;}
h3.searchtis .level5:after{content:"위험";color:#fff;font-size:10px;font-weight:300;}

.scorep{font-size: 0px;}
.scorep li{display:inline-block;}
.scorep li a{background:#3866cd;color:#fff;line-height:20px;height:20px;padding:0 10px;font-size: 11px;}
.scorep li:first-child a{background:#ac7c52;}

/*수강후기 2018개편*/
.takereply_pick {border:1px solid #dddde1;margin:10px 0px;}
.takereply_pick .reply_pick {width:100%;font-size:13px}
.takereply_pick .pick_tit {height:35px;width:100%;border-bottom:1px solid #dddde1;background-color:#f1f1f1;text-align:center;color:#333;line-height:35px;font-weight:400}
.takereply_pick .pick_cont1 {width:100%;height:45px;background-color:#f1f1f1;padding-top:10px;text-align:center;color:#047f89;line-height:18px}
.takereply_pick .pick_cont2 {display:table;width:100%;background-color:#f1f1f1;}
.takereply_pick .pick_cont2 .divi {display:table-cell;height:45px;padding-top:10px;border-left:1px solid #dddde1;width:50%;margin-left:-1px;text-align:center;color:#047f89;line-height:18px;}
.takereply_pick .pick_cont2 .divi strong {color:#333;font-weight:bold}
.takereply_pick .pick_cont2 .divi:first-child {border-left:0 none}
.takereply_pick .swiper-container .swiper-button-prev {position:absolute;top:22px;left:0;width:40px;height:35px;z-index:100;display:inline-block;background-image:none}
.takereply_pick .swiper-container .swiper-button-next {position:absolute;top:22px;right:0;width:40px;height:35px;z-index:100;display:inline-block;background-image:none}
.takereply_pick .swiper-container .swiper-button-prev .ar_1 {background-color:#000;display:inline-block;position:absolute;top:10px;left:17px;width:2px;height:8px;background:#777;-webkit-transform:skew(-45deg);-moz-transform:skew(-45deg);-o-transform:skew(-45deg);}
.takereply_pick .swiper-container .swiper-button-prev .ar_2 {display:inline-block;position:absolute;top:18px;left:17px;width:2px;height:8px;background:#777;-webkit-transform:skew(45deg);-moz-transform:skew(45deg);-o-transform:skew(45deg);}
.takereply_pick .swiper-container .swiper-button-next .ar_1 {background-color:#000;display:inline-block;position:absolute;top:10px;left:17px;width:2px;height:8px;background:#777;-webkit-transform:skew(45deg);-moz-transform:skew(45deg);-o-transform:skew(45deg);}
.takereply_pick .swiper-container .swiper-button-next .ar_2 {display:inline-block;position:absolute;top:18px;left:17px;width:2px;height:8px;background:#777;-webkit-transform:skew(-45deg);-moz-transform:skew(-45deg);-o-transform:skew(-45deg);}



