@charset "utf-8";

@import url("file:///android_asset/www/app/common-res/css/notosanskr.css");
@import url("file:///android_asset/www/app/common-res/css/google.css");

@import url("file:///android_asset/www/app/common-res/css/reset.css");
@import url("file:///android_asset/www/app/common-res/css/layout.css");
@import url("file:///android_asset/www/app/common-res/css/main.css?t=20180309");
@import url("file:///android_asset/www/app/common-res/css/teacher.css");
@import url("file:///android_asset/www/app/common-res/css/icon.css");
@import url("file:///android_asset/www/app/common-res/css/board.css");
@import url("file:///android_asset/www/app/common-res/css/lecture.css");
@import url("file:///android_asset/www/app/common-res/css/myroom.css");
@import url("file:///android_asset/www/app/common-res/css/sky.css");
@import url("file:///android_asset/www/app/common-res/css/report.css");
@import url("file:///android_asset/www/app/common-res/css/member.css");

.lazy-complete {
  opacity: 1;
  transition: opacity 0.3s;
}

.lazy-ready {
  opacity: 0.3;
}
